.align-all-center{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center
}
.flex-in-column{
    display:flex;
    flex-direction:row
}
.flex-in-row{
    display:flex;
    flex-direction:column
}
.w-all{
    width:100% !important
}
.w-all.equal{
    height:100%
}
.w-most{
    width:75%
}
.w-most.equal{
    height:75%
}
.w-half{
    width:50%
}
.w-half.equal{
    height:50%
}
.w-some{
    width:25%
}
.w-fit{
    width:fit-content
}
.w-fit.equal{
    height:auto
}
.w-some.equal{
    height:25%
}
.h-all{
    height:100% !important
}
.h-most{
    height:75%
}
.h-half{
    height:50%
}
.h-some{
    height:25%
}
.h-fit{
    height:auto
}
.children.no-space>*{
    margin:0px;
    padding:0px
}
.child.space-rest{
    flex-grow:1
}
.child.space-fit{
    flex: 0 1 auto
}
.border-box{
    box-sizing:border-box
}
.child.align-center{
    align-self:center;
}
